/* Standard Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fafafa;
    color: #222222;
}


/* header or menu */

#header-container {
    background-color: #da0909;
    color: #fafafa;
    padding: 6px;
}

#header-title {
    font-size: 2.5em;
    align-self: ;
}


/* columns or todos view */

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    max-width: calc(100%/3);
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#past-due-column {
    color: #da0909;
}

.column h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Franklin Gothic';
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 38px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column li input {
    width: 100%; /* Ensure the input fills the list item's width */
    height: 100%; /* Matches the height of the list item */
    border: none;
    outline: none;
    font-family: 'Franklin Gothic';
    font-style: italic;
    font-size: 1em;
    background-color: #fafafa;
    box-sizing: border-box;
}